nav {
	padding: 16px 24px;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline;
	float: left;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: 200;
}
nav ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000;

}
nav ul li a:hover {
	text-decoration: underline;
}
#sign_in {
	background-color: #3B79F0;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	padding: 8px 14px;
	margin-left: 14px;
}
#sign_in:hover {
	text-decoration: none;
}
div {
	display: block;
}
#logo {
	text-align: center;
	padding-top: 190px;
	padding-bottom: 25px;
}
#search_form {
	text-align: center;
}

#search_field {
	width: 500px;
	height: 28px;
	border: 1px solid #D4D4D4;
	padding: 5px;
	font-size: 1em;
	margin-bottom: 25px;
}
#search_field:focus {
	outline: none;
	border: 1px solid #397AF3;
}
.button {
	background-color: #F1F1F1;
	color: #757575;
	border: none;
	text-align: center;
	padding: 11px 15px;
	border-radius: 3px;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.button:hover {
	color: black;
	border: 1px solid #E0E0E0;
	padding: 10px 14px;
}
footer {
	background-color: #F0F0F0;
	padding: 4px 6px;
	border-top: 1px solid #E0E0E0;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: 200;
}
#foot_l {
	float: left;
}
#foot_r {
	float: right;
}
footer ul {
	padding-right: 20px;
}
footer ul li {
	display: inline;
}
footer ul li a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #5B5B6B;
}
footer ul li a:hover {
	text-decoration: underline;
}